* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

button,
input {
  outline: none;
}

#authPage {
  display: flex;
  height: 100vh;
}

.authComponent {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.authComponent h2 {
  width: 12%;
  border-bottom: 2px solid black;
}

.authForm {
  margin: 34px 0;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.authForm label {
  font-size: 20px;
}

.authForm input {
  outline: none;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px 2px;
  min-height: 35px;
  font-size: 18px;
  margin: 10px 0;
  margin-bottom: 20px;
}

#otpInput {
  display: flex;
  width: 100%;
}

#otpInput input {
  margin-right: 10px;
  text-align: center;
}

#submitBtn {
  background-color: rgb(213, 236, 109);
  border: none;
  border-radius: 10px;
  min-height: 50px;
  cursor: pointer;
}

#sideImage img {
  width: 50vw;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#mainPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
