* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#authPage {
  display: flex;
  height: 100vh;
}

.authComponent {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.authComponent h2 {
  width: 12%;
  border-bottom: 2px solid black;
}

.authForm {
  margin: 10px 0;
}

.authForm input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 2px;
}

#sideImage img {
  width: 40vw;
  height: 100vh;
}
